body {
    min-height: 90vh;
    background-color: #111212;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 60px;
    margin-bottom: 10px;
}

.container {
    height: fit-content;
    width: 70%;
    background-color:  #012d12c1;
    margin: 0 auto;
    border-radius: 28px;
    margin-bottom: 10vh;
    color: white;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.text-input {
    all: unset;
    border: 3px solid #02451bc1;
    border-radius: 8px;
    background: #dedcdc;
    height: 40px;
    color: black;
    font-family: 'Inter', sans-serif;
    padding: 0 10px;
    margin: 10px 0 30px 0;
}

.text-input.ingredient,
.text-input.procedure  {
    width: 80%;
    margin: 0;
}

#add {
    all: unset;
    width: 15%;
    border-radius: 8px;
    height: 40px;
    background-color: #006405;
    font-family: 'Inter', sans-serif;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
}

.separate,
.last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 10px 0 30px 0;
}

#add:hover {
    color: black;
    background: #dedcdc;
}

#add:active {
    color: rgb(225, 220, 220);
    background: #028041;
}

.ingredients-list,
.procedures-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 30vh;
    background: #00200e;
    border-radius: 8px;
    overflow: auto;
    padding: 10px 20px;
    margin-bottom: 30px;
}


.ingredient-item,
.procedure-item {
    font-family: 'Inter', sans-serif;
    width: 99%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.ingredient-name,
.procedure-name {
    width: 85%;
    height: 45px;
    background: #e3e2e2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: black;
}

.delete {
    width: 8%;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e33c3c;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    transition: .3s ease;
}

.delete:hover {
    background: #f96d6d;
    color: black;
}

.delete:active {
    background: #036d1f;
    color: rgb(255, 255, 255);
}

select {
    width: 50%;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    padding: 5px 10px;
    background: #014d22;
    border: none;
    color: white;
}

.save {
    border-radius: 8px;
    border: none;
    width: 20%;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
    animation: changing linear infinite 3s;
}

.save:hover {
    background-color: #fff;
    color: rgb(255, 255, 255);
}

.save:active {
    background-color: #122c03;
    color: yellow;
}

.popup {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 20%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.check {
    width: 90px;
    height: 90px;
    background-image: url('../res/check.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto -10px auto;
}

.popup-content {
    font-size: 20px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#text-rec {
    margin-bottom: -10px;
}

#closePopup {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #006405;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#closePopup:hover {
    background-color: #048704;
}


@keyframes changing {
    0% { background-color: #004d00; }
    10% { background-color: #057105; }
    20% { background-color: #139b13; }
    30% { background-color: #006b00; }
    40% { background-color: #1eb503; }
    50% { background-color: #0fa80f; }
    60% { background-color: #097c09; }
    70% { background-color: #009300; }
    80% { background-color: #048c04; }
    90% { background-color: #048704; }
    100% { background-color: #004d00; }
}
