body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
    margin: 0;
    animation: bgColorChange 25s infinite linear;
}

.container {
    width: 500px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid black; */
    flex-direction: column;
}

.container .text-cont {
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 15px;
    text-align: start;
    background-color: white;
    width: 80%;
    height: 80%;
    padding: 10px 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    text-align: center;
}

.container .login-cont {
    font-family: 'Parkinsans', sans-serif;
    background-color: white;
    width: 80%;
    height: 50%;
    padding: 10px 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    flex-direction: column;
}

.logo {
    width: 280px;
    height: 85px;
    padding-left: 20px;
}

.google {
    width: 8%;
    margin-right: 10px;
}

#loginBtn {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e5e5;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s ease;
    padding: 5px 0px;
    width: 90%;
    margin-bottom: 15px;
}

#loginBtn:hover {
    background-color: #f3eadb;
}

#loginBtn:active {
    background-color: #c0b7a9;
}

.preview {
    height: 100vh;
    width: 70%;
    background-position: center;
    background-size: cover;
    transition: background-image 1s ease-in-out;
}

@media (max-width: 700px) {
    body {
        justify-content: center;
        padding: 10px;
        margin: 10px;
    }
    .container {
        width: 100%;
        height: fit-content;
    }
    .container .text-cont {
        width: 300px;
        margin-bottom: 20px;
    }
    
    .container .login-cont {
        width: 300px;
    }

    .preview {
        visibility: hidden;
    }
}

@keyframes bgColorChange {
    0% {
        background-color: #FCF596;
    }
    25% {
        background-color: #FBD288;
    }
    55% {
        background-color: #FF9C73;
    }
    90% {
        background-color: #FF4545;
    }
    100% {
        background-color: #FCF596;
    }
}

/* #FCF596
#FBD288
#FF9C73
#FF4545 */