body {
    min-height: 90vh;
    background-color: #111212;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    width: 85%;
    margin: 0 auto;
    height: fit-content;
}

.greetings {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: end;
    flex-direction: row;
    height: 180px;
    width: 100%;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    margin: 0;
    font-weight: 600;
    color: white;
}

h3 {
    padding: 10px 1%;
    font-family: 'Inter', serif;
    font-size: 30px;
    margin: 0;
    font-weight: 400;
    width: 98%;
    color: white;
    background: linear-gradient(45deg, #0a5e36, #033a20);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
}

.explore .explore-grid {
    display: grid;
    height: 250px;
    width: 100%;
    background-color: #272926;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: column;
    gap: 10px;
    justify-items: center;
    place-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    
}

.item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 220px;
    width: 180px;
    border-radius: 24px;
    margin-top: 30px;
    transition: .3s ease;
}

.item:hover {
    transform: scale(1.05);
}

.icons {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #0a5e36;
    background-position: center;
    background-size: contain;
    -webkit-box-shadow: 0px 0px 38px 2px rgba(12,110,61,.54);
    -moz-box-shadow: 0px 0px 38px 2px rgba(12,110,61,.54);
    box-shadow: 0px 0px 38px 2px rgba(12,110,61,.54);
    background-repeat: no-repeat;
}

.icons.book {
    background-image: url('../res/recipe_book.png');
    background-size: 85%;
}

.icons.generator {
    background-image: url('../res/recipe_generator.png');
    background-size: 80%;
}

.icons.add {
    background-image: url('../res/add_recipe.png');
    background-size: 60%;
}

.recommendations {
    margin-top: 30px;
    height: 55vh;
    width: 100%;
    margin-bottom: 10vh;
}

.recipe-grid {
    background-color: #272926;
    height: 45vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 36px;
    padding-top: 20px;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.recipe-item {
    height: 40vh;
    width: 90%;
    background-color: #0a5e36;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    padding-left: 2%;
    overflow: auto;
    cursor: pointer;
    margin: 0;
    transition: background-color .3s ease;
    -webkit-box-shadow: 0px 0px 38px 2px rgba(12, 110, 61, 0.41);
    -moz-box-shadow: 0px 0px 38px 2px rgba(12,110,61,.41);
    box-shadow: 0px 0px 38px 2px rgba(12,110,61,.41);
}

.recipe-item:hover {
    background-color: #0d673c;
}

.dish-name {
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    line-height: 1;
}

.difficulty {
    font-size: 25px;
    margin-top: 20px;
}

.flavor {
    color: rgba(255, 255, 255, 0.678);
    font-size: 20px;
    margin-top: 20px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    color: black;
    z-index: 999;
    overflow: hidden;
}
  
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow: auto;
}

strong {
    font-size: 18px;
    color: #153f02;

}

#popup-dishName {
    color: #205c04;
    font-size: 40px;
    margin-top: -20px;
}
  
.close-btn {
    z-index: 999;
    color: #ef2626;
    font-size: 28px;
    font-weight: bold;
    margin-left: 99%;
}
  
.close-btn:hover,
.close-btn:focus {
    color: rgb(251, 59, 59);
    text-decoration: none;
    cursor: pointer;
}

.loader {
    width: 80px;
    height: 40px;
    border-radius: 0 0 100px 100px;
    border: 5px solid #538a2d;
    border-top: 0;
    box-sizing: border-box;
    background:
      radial-gradient(farthest-side at top,#0000 calc(100% - 5px),#e7ef9d calc(100% - 4px)), 
      radial-gradient(2px 3px,#5c4037 89%,#0000) 0 0/17px 12px,
      #ff1643;
    --c:radial-gradient(farthest-side,#000 94%,#0000);
    -webkit-mask:
      linear-gradient(#0000 0 0),
      var(--c) 12px -8px,
      var(--c) 29px -8px,
      var(--c) 45px -6px,
      var(--c) 22px -2px,
      var(--c) 34px  6px, 
      var(--c) 21px  6px,
      linear-gradient(#000 0 0);
    mask:
      linear-gradient(#000 0 0),
      var(--c) 12px -8px,
      var(--c) 29px -8px,
      var(--c) 45px -6px,
      var(--c) 22px -2px,
      var(--c) 34px  6px, 
      var(--c) 21px  6px,
      linear-gradient(#0000 0 0);
    -webkit-mask-composite:destination-out;
    mask-composite:exclude,add,add,add,add,add,add;
    -webkit-mask-repeat: no-repeat;
    animation: l8 3s infinite;
}
@keyframes l8 {
   0%   {-webkit-mask-size: auto,0 0,0 0,0 0,0 0,0 0,0 0}
   15%  {-webkit-mask-size: auto,20px 20px,0 0,0 0,0 0,0 0,0 0}
   30%  {-webkit-mask-size: auto,20px 20px,20px 20px,0 0,0 0,0 0,0 0}
   45%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,0 0,0 0,0 0}
   60%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,0 0,0 0}
   75%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px,0 0}
   90%,
   100% {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px}
}

@media (max-width: 800px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .greetings {
        height: 120px;
    }

    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 24px;
        padding: 8px 1%;
    }

    h4 {
        text-align: center;
    }

    .explore {
        height: auto;
    }

    .explore .explore-grid {
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        height: auto;
    }

    .item {
        height: 180px;
        width: 100%;
    }

    .icons {
        width: 90px;
        height: 90px;
    }

    .recommendations {
        height: auto;
        margin-top: 20px;
    }
}