body {
    min-height: 90vh;
    background-color: #111212;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 70px;
    width: 96%;
    padding-left: 4%;
}

.container {
    height: 90vh;
    width: 89%;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 10vh;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 25px;
    padding: 10px;
    box-sizing: border-box;
}

.item {
    height: 40vh;
    width: 100%;
    background-color: #0a5e36;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    padding-left: 2%;
    overflow: auto;
    cursor: pointer;
    margin: 0;
    transition: background-color .3s ease;
}

.item:hover {
    background-color: #0d673c;
}

.dish-name {
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    line-height: .9;
}

.difficulty {
    font-size: 25px;
    margin-top: 20px;
}

.flavor {
    color: rgba(255, 255, 255, 0.678);
    font-size: 20px;
    margin-top: 20px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    color: black;
    z-index: 999;
    overflow: hidden;
}
  
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow: auto;
}

strong {
    font-size: 18px;
    color: #153f02;

}

#popup-dishName {
    color: #205c04;
    font-size: 40px;
    margin-top: -20px;
}
  
.close-btn {
    z-index: 999;
    color: #f14040;
    font-size: 28px;
    font-weight: bold;
    margin-left: 98%;
}
  
.close-btn:hover,
.close-btn:focus {
    color: rgb(186, 9, 9);
    text-decoration: none;
    cursor: pointer;
}

.deleteBtn {
    border-radius: 8px;
    border: none;
    width: 90%;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
    margin-left: 5%;
    margin-top: 2%;
    background-color: #f61313;
}

.deleteBtn:hover {
    background-color: rgb(252, 61, 61);
}

.deleteBtn:active {
    background-color: #de1414;
}

.deleted {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 20%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.check {
    width: 90px;
    height: 90px;
    background-image: url('../res/check.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto -10px auto;
}

.deleted-content {
    font-size: 20px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#text-rec {
    margin-bottom: -10px;
    color: black;
}

#closePopup {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #006405;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#closePopup:hover {
    background-color: #048704;
}


/* HTML: <div class="loader"></div> */
.loader {
    position: absolute;
    top: 50%;
    width: 80px;
    height: 40px;
    border-radius: 0 0 100px 100px;
    border: 5px solid #538a2d;
    border-top: 0;
    box-sizing: border-box;
    background:
      radial-gradient(farthest-side at top,#0000 calc(100% - 5px),#e7ef9d calc(100% - 4px)), 
      radial-gradient(2px 3px,#5c4037 89%,#0000) 0 0/17px 12px,
      #ff1643;
    --c:radial-gradient(farthest-side,#000 94%,#0000);
    -webkit-mask:
      linear-gradient(#0000 0 0),
      var(--c) 12px -8px,
      var(--c) 29px -8px,
      var(--c) 45px -6px,
      var(--c) 22px -2px,
      var(--c) 34px  6px, 
      var(--c) 21px  6px,
      linear-gradient(#000 0 0);
    mask:
      linear-gradient(#000 0 0),
      var(--c) 12px -8px,
      var(--c) 29px -8px,
      var(--c) 45px -6px,
      var(--c) 22px -2px,
      var(--c) 34px  6px, 
      var(--c) 21px  6px,
      linear-gradient(#0000 0 0);
    -webkit-mask-composite:destination-out;
    mask-composite:exclude,add,add,add,add,add,add;
    -webkit-mask-repeat: no-repeat;
    animation: l8 3s infinite;
  }
  @keyframes l8 {
   0%   {-webkit-mask-size: auto,0 0,0 0,0 0,0 0,0 0,0 0}
   15%  {-webkit-mask-size: auto,20px 20px,0 0,0 0,0 0,0 0,0 0}
   30%  {-webkit-mask-size: auto,20px 20px,20px 20px,0 0,0 0,0 0,0 0}
   45%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,0 0,0 0,0 0}
   60%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,0 0,0 0}
   75%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px,0 0}
   90%,
   100% {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px}
}

/*mobile*/
@media (max-width: 800px) {
    h1 {
        margin-left: auto;
        width: 100%;
        text-align: center;
        padding: 0;
        font-size: 50px;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px;
    }

    .item {
        height: auto;
        padding: 20px;
    }

    .dish-name {
        font-size: 30px;
    }

    .difficulty {
        font-size: 20px;
    }

    .flavor {
        font-size: 18px;
    }

    .popup-content {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    #popup-dishName {
        font-size: 30px;
    }

    .close-btn {
        font-size: 24px;
        margin-left: 95%;
    }
}