body {
    min-height: 90vh;
    background-color: #111212;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: white;
}

.field {
    width: 90%;
    margin: 10vh auto 5vh auto;
    height: fit-content;
}

h1 {
    margin: 0;
    font-size: 70px;
}

h3 {
    margin: 2vh 0 0 0;
    color: #fec805;
}

.text-input {
    all: unset;
    border: 3px solid #02451bc1;
    border-radius: 8px;
    background: #dedcdc;
    height: 40px;
    color: black;
    font-family: 'Inter', sans-serif;
    padding: 0 10px;
    margin: 10px 0 10px 0;
    width: 95%;
}

.flavDiff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    margin: 0;
}

.cont-flavor {
    height: 90%;
    width: 65%;
}

.cont-diff {
    height: 90%;
    width: 30%;
}

select {
    user-select: none;
    width: 90%;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    padding: 5px 10px;
    background: #014d22;
    border: none;
    color: white;
    margin-top: 10px;
    height: 40px;
    cursor: pointer;
    transition: background .3s ease;
}

select:hover {
    background: #015f2a;
}

option {
    cursor: pointer;
}

.dishy {
    all: unset;
    cursor: pointer;
    margin-left: 30%;
    background: #014d22;
    text-align: center;
    width: 40%;
    height: 5vh;
    font-size: 30px;
    border-radius: 8px;
    font-weight: 700;
    animation: changing 5s ease infinite;
}

@keyframes changing {
    0% { background-color: #004d00; }
    10% { background-color: #057105; }
    20% { background-color: #139b13; }
    30% { background-color: #006b00; }
    40% { background-color: #1eb503; }
    50% { background-color: #0fa80f; }
    60% { background-color: #097c09; }
    70% { background-color: #009300; }
    80% { background-color: #048c04; }
    90% { background-color: #048704; }
    100% { background-color: #004d00; }
}

.recipe-item {
    height: 40vh;
    width: 95%;
    background-color: #0a5e36;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    padding-left: 2%;
    overflow: auto;
    cursor: pointer;
    margin: 0;
    transition: background-color .3s ease;
    -webkit-box-shadow: 0px 0px 38px 2px rgba(12, 110, 61, 0.41);
    -moz-box-shadow: 0px 0px 38px 2px rgba(12,110,61,.41);
    box-shadow: 0px 0px 38px 2px rgba(12,110,61,.41);
}

.recipe-item:hover {
    background-color: #0d673c;
}

.dish-name {
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    line-height: 1;
}

.difficulty {
    font-size: 25px;
    margin-top: 20px;
}

.flavor {
    color: rgba(255, 255, 255, 0.678);
    font-size: 20px;
    margin-top: 20px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    color: black;
    z-index: 999;
    overflow: hidden;
}
  
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow: auto;
}

strong {
    font-size: 18px;
    color: #153f02;

}

#popup-dishName {
    color: #205c04;
    font-size: 40px;
    margin-top: -20px;
}
  
.close-btn {
    z-index: 999;
    color: #ef2626;
    font-size: 28px;
    font-weight: bold;
    margin-left: 99%;
}
  
.close-btn:hover,
.close-btn:focus {
    color: rgb(251, 59, 59);
    text-decoration: none;
    cursor: pointer;
}

.save {
    border-radius: 8px;
    border: none;
    width: 90%;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
    animation: changing linear infinite 3s;
    margin-left: 5%;
    margin-top: 2%;
}

.save:hover {
    background-color: #fff;
    color: rgb(255, 255, 255);
}

.save:active {
    background-color: #122c03;
    color: yellow;
}


.saved {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 20%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.check {
    width: 90px;
    height: 90px;
    background-image: url('../res/check.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto -10px auto;
}

.saved-content {
    font-size: 20px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#text-rec {
    margin-bottom: -10px;
    color: black;
}

#closePopup {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #006405;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#closePopup:hover {
    background-color: #048704;
}

.recipe-grid {
    background-color: #272926;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10vh;
    display: flex;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px 36px;
    padding-top: 20px 0px;
    box-sizing: border-box;
    border-radius: 8px;
}

.loader {
    margin: 5vh auto 5vh auto;
    width: 80px;
    height: 40px;
    border-radius: 0 0 100px 100px;
    border: 5px solid #538a2d;
    border-top: 0;
    box-sizing: border-box;
    background:
      radial-gradient(farthest-side at top,#0000 calc(100% - 5px),#e7ef9d calc(100% - 4px)), 
      radial-gradient(2px 3px,#5c4037 89%,#0000) 0 0/17px 12px,
      #ff1643;
    --c:radial-gradient(farthest-side,#000 94%,#0000);
    -webkit-mask:
      linear-gradient(#0000 0 0),
      var(--c) 12px -8px,
      var(--c) 29px -8px,
      var(--c) 45px -6px,
      var(--c) 22px -2px,
      var(--c) 34px  6px, 
      var(--c) 21px  6px,
      linear-gradient(#000 0 0);
    mask:
      linear-gradient(#000 0 0),
      var(--c) 12px -8px,
      var(--c) 29px -8px,
      var(--c) 45px -6px,
      var(--c) 22px -2px,
      var(--c) 34px  6px, 
      var(--c) 21px  6px,
      linear-gradient(#0000 0 0);
    -webkit-mask-composite:destination-out;
    mask-composite:exclude,add,add,add,add,add,add;
    -webkit-mask-repeat: no-repeat;
    animation: l8 3s infinite;
}
  @keyframes l8 {
   0%   {-webkit-mask-size: auto,0 0,0 0,0 0,0 0,0 0,0 0}
   15%  {-webkit-mask-size: auto,20px 20px,0 0,0 0,0 0,0 0,0 0}
   30%  {-webkit-mask-size: auto,20px 20px,20px 20px,0 0,0 0,0 0,0 0}
   45%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,0 0,0 0,0 0}
   60%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,0 0,0 0}
   75%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px,0 0}
   90%,
   100% {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px}
}